In [13]:
import pandas as pd
from pathlib import Path

# Full path to the dataset
data_path = Path(r"C:\Users\Abhijeet\UIDAI-Data-Hackathon\UIDAI-Data-Hackathon\dataset\demographics.csv")

# Check if the file exists
if not data_path.exists():
    raise FileNotFoundError(f"{data_path} not found")
    
# Load the dataset
df = pd.read_csv(data_path)
# Preview the first rows

df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Maharashtra,Mumbai Suburban,400072,159,1180
1,01-03-2025,Maharashtra,Mumbai Suburban,400043,230,1648
2,01-03-2025,Maharashtra,Mumbai Suburban,400091,23,263
3,01-03-2025,Maharashtra,Mumbai Suburban,400052,13,243
4,01-03-2025,Maharashtra,Mumbai Suburban,400082,16,81

In [14]:
# 1️⃣ Show all columns
print("Columns in dataset:")
print(df.columns)

# 2️⃣ Show first 5 rows
print("\nFirst 5 rows:")
display(df.head())

# 3️⃣ Check missing values in each column
print("\nMissing values per column:")
print(df.isnull().sum())

# 4️⃣ Optional: Quick summary of data types and non-null counts
print("\nDataset info:")
df.info()

# 5️⃣ Optional: Descriptive statistics for numeric columns
print("\nDescriptive statistics:")
display(df.describe())

Columns in dataset:
Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')

First 5 rows:

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Maharashtra,Mumbai Suburban,400072,159,1180
1,01-03-2025,Maharashtra,Mumbai Suburban,400043,230,1648
2,01-03-2025,Maharashtra,Mumbai Suburban,400091,23,263
3,01-03-2025,Maharashtra,Mumbai Suburban,400052,13,243
4,01-03-2025,Maharashtra,Mumbai Suburban,400082,16,81

Missing values per column:
date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5470 entries, 0 to 5469
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           5470 non-null   object
 1   state          5470 non-null   object
 2   district       5470 non-null   object
 3   pincode        5470 non-null   int64
 4   demo_age_5_17  5470 non-null   int64
 5   demo_age_17_   5470 non-null   int64
dtypes: int64(3), object(3)
memory usage: 256.5+ KB

Descriptive statistics:

             pincode  demo_age_5_17  demo_age_17_
count    5470.000000    5470.000000   5470.000000
mean   400072.643144       3.316636     30.101828
std        19.070231      15.702712    114.646898
min    400024.000000       0.000000      0.000000
25%    400058.000000       0.000000      7.000000
50%    400074.000000       1.000000     14.000000
75%    400088.000000       3.000000     26.000000
max    400104.000000     464.000000   2034.000000

In [17]:
for col in df.columns:
    num_unique = df[col].nunique()
    num_missing = df[col].isnull().sum()
    print(f"Column: {col} → Unique values: {num_unique}, Missing values: {num_missing}")

Column: date → Unique values: 106, Missing values: 0
Column: state → Unique values: 1, Missing values: 0
Column: district → Unique values: 1, Missing values: 0
Column: pincode → Unique values: 57, Missing values: 0
Column: demo_age_5_17 → Unique values: 81, Missing values: 0
Column: demo_age_17_ → Unique values: 174, Missing values: 0