In [2]:
import pandas as pd
from pathlib import Path

# Full path to the dataset
data_path = Path(r"C:\Users\Abhijeet\UIDAI-Data-Hackathon\UIDAI-Data-Hackathon\dataset\enrolment.csv")

# Check if the file exists
if not data_path.exists():
    raise FileNotFoundError(f"{data_path} not found")
    
# Load the dataset
df = pd.read_csv(data_path)
# Preview the first rows

df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,01-09-2025,Maharashtra,Mumbai Suburban,400024,1,0,0
1,01-09-2025,Maharashtra,Mumbai Suburban,400050,0,1,0
2,01-09-2025,Maharashtra,Mumbai Suburban,400053,4,0,0
3,01-09-2025,Maharashtra,Mumbai Suburban,400057,0,1,0
4,01-09-2025,Maharashtra,Mumbai Suburban,400070,4,3,0

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

# Load dataset
data_path = Path(r"C:\Users\Abhijeet\UIDAI-Data-Hackathon\UIDAI-Data-Hackathon\dataset\enrolment.csv")
df = pd.read_csv(data_path)

# Convert date column (DD-MM-YYYY format)
df["date"] = pd.to_datetime(df["date"], dayfirst=True, errors="coerce")

# Filter Maharashtra & Mumbai Suburban
df_mumbai = df[
    (df["state"] == "Maharashtra") &
    (df["district"] == "Mumbai Suburban")
]

# Calculate total enrolment
df_mumbai["total_enrolment"] = (
    df_mumbai["age_0_5"] +
    df_mumbai["age_5_17"] +
    df_mumbai["age_18_greater"]
)

# Filter year (example: 2025)
df_year = df_mumbai[df_mumbai["date"].dt.year == 2025]

# Total enrolment in the year
print("Total Enrolment in 2025:", df_year["total_enrolment"].sum())

# Group by pincode
pincode_total = df_year.groupby("pincode")["total_enrolment"].sum()

# Bar chart
plt.figure()
pincode_total.plot(kind="bar")
plt.xlabel("Pincode")
plt.ylabel("Total Enrolment")
plt.title("UIDAI Enrolment by Pincode â€“ Mumbai Suburban (2025)")
plt.xticks(rotation=45)
plt.show()

ValueError: time data "14-09-2025" doesn't match format "%m-%d-%Y", at position 14. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.